:root {
  --primary-color-pink: #ffbdbd;
  --primary-color-violet: #4c40f7;
  --text-color: #111029;
}
@media (max-width: 768px) {
  .about-section,
  .skill-section,
  .featured-section,
  .experience-section {
    margin: 0 auto 170px !important;
  }
}
@media (min-width: 576px) {
  .fixed {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .fixed {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .fixed {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .fixed {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .fixed .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px !important;
  }
}

/*Common*/
a.link {
  color: var(--primary-color-violet) !important;
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}
.btn-outline-violet {
  color: var(--primary-color-violet) !important;
  border-color: var(--primary-color-violet) !important;
}
.btn-outline-violet:hover {
  color: #ffffff !important;
  background-color: var(--primary-color-violet) !important;
}

.title-heading {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 1.75rem;
  padding-left: 4.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0.8px;
  font-weight: 600;
  color: var(--primary-color-violet);
}
.title-heading:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 3.25rem;
  height: 2px;
  background: var(--primary-color-violet);
}

.title-subheading {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

/*By Sections*/
.navbar.fixed {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.nav-item,
.nav-item .btn {
  margin: 0 0.5rem;
  font-size: 14px;
}
.nav-item:last-child {
  margin-right: 0;
}

.about-section,
.skill-section,
.featured-section,
.experience-section {
  max-width: 650px;
  margin: 0 148px 170px;
}
.skill-section {
  max-width: 450px !important;
}

.header-section {
  max-width: 1000px;
  margin: 0 auto;
}

.header-section {
  height: 100vh;
  margin-bottom: 0 !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/* .header-section .title-heading {
  margin: 1.75rem 0 !important;
} */
.header-section h1 {
  margin: 0;
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: 600;
}

.header-section p {
  margin: 1.75rem 0 0;
  max-width: 500px;
}

.header-section a {
  margin: 3.5rem 0 3rem;
  padding: 1rem 1.5rem !important;
}

.skill-section h5 {
  font-weight: 600;
}

.skill-section ul {
  list-style: none;
  padding: 0;
}
.skill-section li {
  color: rgba(0, 0, 0, 0.55);
  margin-bottom: 0.25rem;
}
.experience-section h5 {
  font-weight: 600;
  margin-bottom: 1rem;
}
.experience-section p {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
}

.experience-section li {
  margin-bottom: 0.25rem;
  text-align: justify;
}

.featured-section .card {
  border-radius: 1rem !important;
}

.featured-section .card:hover {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.featured-section h3 {
  font-weight: 600;
}

.featured-section ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style: none;
  color: rgba(0, 0, 0, 0.55);
  font-size: 13px;
  margin: 1.5rem 0 0;
}

.featured-section li {
  margin: 0 1.5rem 0.5rem 0;
}

.footer-section a {
  margin: 1rem;
}
.footer-section i {
  color: rgba(0, 0, 0, 0.55) !important;
  transition: transform 0.3s;
}
.footer-section i:hover {
  color: var(--primary-color-violet) !important;
  transform: translateY(-4px);
}

.footer-section i {
  font-size: 2rem;
}
